project:
  type: website

website:
  title: "rdewald.com"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - RDRN.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
